/* --------------------------
 * Element Styles
 * --------------------------
*/
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
}

body {
    min-width: 320px;
    color: #777;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

dt {
    font-weight: bold;
}
dd {
    margin: 0 0 10px 0;
}

aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}
    aside a, aside a:visited {
        color: rgb(169, 226, 255);
    }

.container {
     max-width: 768px;
     margin: 0 auto;
     padding: 1em;		
}

/* --------------------------
 * Header Module Styles
 * --------------------------
*/

.header {
     font-family: sans-serif;
     max-width: 768px;
     margin: 0 auto;
     padding: 1em;
     text-align: center;
     border-bottom: 1px solid #eee;
     background: #fff;
 }
    .header h1 {
        font-size: 300%;
        font-weight: 100;
        margin: 0;
    }
     .header h2 {
        font-size: 125%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        color: #666;
    }


 /* --------------------------
  * Content Module Styles
  * --------------------------
 */

/* The content div is placed as a wrapper around all the docs */
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
    background-color: #fff;
}

    .content .content-subhead {
        margin: 2em 0 1em 0;
        font-weight: 300;
        color: #888;
        position: relative;
    }

    .content .content-spaced {
        line-height: 1.8;
    }

    .content .content-quote {
        font-family: "Georgia", serif;
        color: #666;
        font-style: italic;
        line-height: 1.8;
        border-left: 5px solid #ddd;
        padding-left: 1.5em;
    }

    .content-link {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 20px;
        background: transparent url('/img/link-icon.png') no-repeat center center;
        background-size: 20px 20px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .content-link {
            background-image: url('/img/link-icon@2x.png');
        }
    }


/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media screen and (min-width: 48em) {

    .l-wrap,
    .l-wrap .content {
        padding-left: 1em;
        padding-right: 1em;
    }
    .content .l-wrap {
        margin-left: -2em;
        margin-right: -2em;
    }

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .header h1 {
        font-size: 350%;
    }
    .header h2 {
        font-size: 150%;
    }

    .content p {
        font-size: 1.125em;
    }

}

@media (min-width: 58em) {

    #layout {
        padding-left: 160px; /* left col width "#menu" */
        left: 0;
    }
}

/**
 * Baby Blue theme for RainbowJS
 *
 * @author tilomitra
 */

pre .comment {
    color: #999;
}

pre .tag,
pre .tag-name,
pre .support.tag-name {
    color: rgb(85, 85, 85);
}

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function {
    font-weight: bold;
}

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace {
    color: #333;
}

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .attribute,
pre .variable,
pre .support {
    color:  #757575; /* skinbuilder block-page-text-normal with #1f8dd6 as primary */
}

pre .string,
pre .support.value  {
    font-weight: normal;
    color: #3b8bba; /* skinbuilder block-mine-text-low with #1f8dd6 as primary */
}