<!-- src/components/head.html -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css" />
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll("nav a");

    navLinks.forEach((link) => {
      if (
        link.getAttribute("href") === currentPath ||
        (currentPath.includes("/thoughts/") &&
          link.getAttribute("href") === "/thoughts.html")
      ) {
        link.classList.add("active");
      }
    });

    // Initialize tooltips
    tippy("[data-tippy-content]", {
      theme: "light",
      animation: "fade",
      allowHTML: true,
      interactive: true,
      placement: "bottom-end",
    });
  });
</script>
