<!-- src/components/head.html -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll("nav a");

    navLinks.forEach((link) => {
      if (
        link.getAttribute("href") === currentPath ||
        (currentPath.includes("/thoughts/") &&
          link.getAttribute("href") === "/thoughts.html")
      ) {
        link.classList.add("active");
      }
    });
  });
</script>
